<main>
  <div>
    <h2>登録済みのお薬</h2>

    <%= link_to new_medication_path do %>
      新しいお薬を登録
    <% end %>
  </div>

    <table>
      <tbody>
        <tr>
          <th>お薬名</th>
          <th>用途</th>
          <th>服用期間</th>
          <th>用法</th>
          <th>操作</th>
        </tr>
        
        <% @medications.each do |medication| %>
          <tr>
            <td><%= medication.name %></td>
            <td><%= medication.use %></td>
            <td>
              <%= medication.start_date %>～
              <% if medication.end_date.present? %>
                <%= medication.end_date %>
              <% else %>
                <p>継続中</p>
              <% end %>
            </td>
            <td><%= medication.dosages.map(&:name).join(" / ") %></td>
            <td>
              <%= link_to edit_medication_path(medication) do %>
                (アイコン編集ボタン)
              <% end %>
              <%= link_to medication_path(medication), data: {"turbo_method": :delete, "turbo_confirm": "#{medication.name}を削除してもよろしいですか？\nこの操作は取り消せません。"} do %>
                (アイコン削除ボタン)
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</main>